@font-face {
    font-family: JetBrains_Mono;
    src: url(../content/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

h1{
    margin: auto;
    padding: auto;
}
body{
    background-color: black;
    color: #aaa6a6;
    font-family: JetBrains_Mono;
}
hr {
    width: 100%;
    background: linear-gradient(to right, #59C173, #5D26C1);
    border-width: 1em;
    padding: 0.05em;
}
footer{
    align-items: center;
    text-align: center;
}
.NewContainer{
    width: 95%;
    margin: auto;
}
.dessous_titre{
    width: 30%; 
    margin: auto; 
    margin-bottom: 3em;
}
.link{
    text-decoration: none;
    color: inherit;
}
.link:hover{
    text-decoration: underline;
    color: inherit;
}
.header{
    padding: auto;
}
.logo{
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.GradientBorder{
    border: 5px solid;
    border-image: linear-gradient(to bottom, #59C173, #5D26C1) 1 100%;
    border-style: solid;
    border-width: 3px;
    padding: 1rem;
}
.GradientText{
    background-image: linear-gradient(to left, #59C173, #5D26C1, #59C173);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: larger;
    position: relative;
}
.menu > ul{
    position: absolute;
    bottom: 0;
    right: 0;
}
.menu li{
    display: inline;
}
.menu li button{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.btn-hover {
    font-size: 16px;
    font-weight: 600;
    color: transparent;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-1 {
    background-image: linear-gradient(to right, #59C173, #5992c1, #3026c1, #5D26C1);
}
