<header>
    <div class="row GradientText header">
        <div class="col">
            <h1 class="logo"><a href="../index.html" class="link">WM Configurinator</a></h1>
        </div>  
        <div class="col menu">
            <ul>
                <li><a href="../../pages/i3.html" class="GradientText"><button class="btn-hover color-1">i3</button></a></li>
                <li><a href="../../pages/hyprland.html" class="GradientText"><button class="btn-hover color-1">hyprland</button></a></li>
                <li><a href="../../pages/dwm.html" class="GradientText"><button class="btn-hover color-1">dwm</button></a></li>
                <li><a href="../../pages/bspwm.html" class="GradientText"><button class="btn-hover color-1">bspwm</button></a></li>
            </ul>
        </div>
    </div>
    <hr/>
</header>